---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
const ogImage = heroImage
	? new URL(heroImage, Astro.url)
	: new URL("/og-image-blog.jpg", Astro.url);
---

<html lang="es" data-theme="nido">
	<head>
		<BaseHead title={title} description={description}>
			<meta property="og:type" content="article" />
			<meta property="og:title" content={title} />
			<meta property="og:description" content={description} />
			<meta property="og:url" content={Astro.url} />
			<meta property="og:image" content={ogImage} />
			<meta property="article:published_time" content={pubDate.toISOString()} />
			{
				updatedDate && (
					<meta
						property="article:modified_time"
						content={updatedDate.toISOString()}
					/>
				)
			}
			<meta name="twitter:card" content="summary_large_image" />
			<link rel="canonical" href={Astro.url} />
		</BaseHead>
	</head>

	<body class="min-h-screen bg-base-100">
		<Header />
		<main
			class="container mx-auto md:px-4 md:py-8 lg:py-12"
		>
			<article
				class="max-w-4xl mx-auto"
				itemscope
				itemtype="https://schema.org/BlogPosting"
			>
				<meta
					itemprop="datePublished"
					content={pubDate.toLocaleDateString("es")}
				/>
				{
					updatedDate && (
						<meta
							itemprop="dateModified"
							content={updatedDate.toLocaleDateString("es")}
						/>
					)
				}

				<div
					class="prose prose-lg max-w-none prose-headings:text-primary prose-headings:font-bold prose-p:text-gray-700 prose-img:rounded-xl prose-blockquote:bg-base-200 prose-blockquote:border-primary prose-blockquote:rounded-lg prose-blockquote:not-italic"
				>
					<header class="mb-8 text-center">
						<h1
							class="text-4xl lg:text-5xl mb-8 leading-tight"
							itemprop="headline"
						>
							{title}
						</h1>
						<div
							class="flex items-center justify-center gap-2 text-sm mb-4 not-prose"
						>
							<span
								class="text-xl"
								aria-label={Astro.props.category}
								itemprop="articleSection">{Astro.props.category || "Blog"}</span
							>
							<span class="text-xl mx-2">•</span>
							<time
								datetime={pubDate.toLocaleDateString()}
								class="opacity-75 text-xl"
								itemprop="datePublished"
							>
								<FormattedDate date={pubDate} />
							</time>

							{
								updatedDate && (
									<span class="text-sm italic opacity-75">
										(Actualizado:{" "}
										<time
											datetime={updatedDate.toLocaleDateString()}
											itemprop="dateModified"
										>
											<FormattedDate date={updatedDate} />
										</time>
										)
									</span>
								)
							}
						</div>
					</header>
					{
						heroImage && (
							<figure
								class="relative w-full h-[400px] mb-8 rounded-2xl overflow-hidden"
							>
								<img
									src={heroImage}
									alt={`Imagen principal para el artículo: ${title}`}
									class="w-full h-full object-cover"
									itemprop="image"
								/>
								<div
									class="absolute inset-0 bg-gradient-to-t from-base-100/50 to-transparent"
									aria-hidden="true"
								/>
							</figure>
						)
					}
					<div class="divider my-8" role="separator"></div>

					<div itemprop="articleBody">
						<slot />
					</div>
				</div>
			</article>
			<section class="relative md:my-20 py-20 px-4">
				<div
					class="absolute inset-0 w-full h-full bg-[#fe753b] md:rounded-[40px] mx-auto max-w-7xl"
					data-aos="zoom-in"
					data-aos-delay="100"
				>
				</div>
				<img
					src="/addons/a.png"
					alt="addons"
					class="absolute md:top-10 top-2 md:left-64 left-4"
					width={100}
					height={100}
					data-aos="fade-up"
					data-aos-delay="800"
				/>
				<img
					src="/addons/e.png"
					alt="addons"
					class="absolute bottom-10 md:left-48 right-4"
					width={100}
					height={100}
					data-aos="fade-up"
					data-aos-delay="800"
				/>
				<img
					src="/addons/i.png"
					alt="addons"
					class="absolute bottom-10 md:right-48"
					width={100}
					height={100}
					data-aos="fade-up"
					data-aos-delay="800"
				/>
				<img
					src="/addons/u.png"
					alt="addons"
					class="absolute top-5 md:right-36 right-4"
					width={100}
					height={100}
					data-aos="fade-up"
					data-aos-delay="800"
				/>

				<div class="container mx-auto relative">
					<div class="flex flex-col items-center text-center text-white">
						<h2 class="text-4xl md:text-5xl font-bold mb-6" id="title">
							¡Dale a tu hijo el mejor Comienzo!
						</h2>

						<p
							class="text-lg mb-10 max-w-2xl"
							data-aos="fade-up"
							data-aos-delay="300"
						>
							Con educadores experimentados, un ambiente seguro y estimulante, y
							un enfoque en el crecimiento individual.
						</p>

						<a
							href="/contact"
							class="btn bg-white text-black border-none hover:text-orange-500 normal-case text-lg px-8 py-6"
							data-aos="fade-up"
							data-aos-delay="400"
						>
							Consultar Ahora
						</a>
					</div>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
